<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mialab.jiandu.mapper.ValidationCodeMapper">
	<resultMap id="BaseResultMap" type="com.mialab.jiandu.model.ValidationCode">
		<result column="phone" property="phone" jdbcType="CHAR" />
		<result column="validation_code" property="validationCode"
			jdbcType="INTEGER" />
		<result column="expires" property="expires" jdbcType="TIMESTAMP" />
		<result column="next_time" property="nextTime" jdbcType="TIMESTAMP" />
		<result column="generate_time" property="generateTime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		phone, validation_code, expires, next_time, generate_time
	</sql>

	<insert id="insert" parameterType="com.mialab.jiandu.model.ValidationCode">
		insert into validation_code
		(phone, validation_code, expires,
		next_time, generate_time)
		values
		(#{phone,jdbcType=CHAR}, #{validationCode,jdbcType=INTEGER},
		#{expires,jdbcType=TIMESTAMP},
		#{nextTime,jdbcType=TIMESTAMP},
		#{generateTime,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertSelective" parameterType="com.mialab.jiandu.model.ValidationCode">
		insert into validation_code
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="phone != null">
				phone,
			</if>
			<if test="validationCode != null">
				validation_code,
			</if>
			<if test="expires != null">
				expires,
			</if>
			<if test="nextTime != null">
				next_time,
			</if>
			<if test="generateTime != null">
				generate_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="phone != null">
				#{phone,jdbcType=CHAR},
			</if>
			<if test="validationCode != null">
				#{validationCode,jdbcType=INTEGER},
			</if>
			<if test="expires != null">
				#{expires,jdbcType=TIMESTAMP},
			</if>
			<if test="nextTime != null">
				#{nextTime,jdbcType=TIMESTAMP},
			</if>
			<if test="generateTime != null">
				#{generateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<select id="selectValidationCodeByPhone" parameterType="string"
		resultMap="BaseResultMap">
		SELECT * FROM validation_code WHERE phone = #{phone} ORDER
		BY generate_time DESC limit 0,1;
	</select>
</mapper>